<nav class="navbar navbar-dark navbar-expand bg-dark">
  <a class="navbar-brand">Game Catalyzer</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/new" class="nav-link"
           routerLinkActive="active">New game</a>
      </li>
      <li class="nav-item">
        <a routerLink="/platforms" class="nav-link"
           routerLinkActive="active">Platforms</a>
      </li>
      <li class="nav-item">
        <a routerLink="/games" class="nav-link"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">Manage games</a>
      </li>
    </ul>
    <ul class="navbar-nav">
    </ul>
  </div>
</nav>

