<div class="row mt-2">
  <div class="col">
    <h4>Add new game</h4>
    <form (ngSubmit)="createGame()">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          #nameInput
        />
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input
          type="text"
          name="imageUrl"
          id="imageUrl"
          class="form-control"
          #imageUrlInput
        />
      </div>
      <div class="form-group">
        <label>Platform:
          <select name="singleSelect" class="form-control" [(ngModel)]="platform">
            <option value="NES">NES</option>
            <option value="Sega Genesis">Sega Genesis</option>
            <option value="Super Nintendo">Super Nintendo</option>
          </select><br>
        </label>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          #descriptionInput
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>

