<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img
        [src]="game.imageUrl" alt="{{game.name}}"
        style="max-width: 100%;"
      />
    </div>
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ game.name }}</h5>
        <p class="card-text small">{{ game.description }}</p>
        <p class="card-text">{{ game.platform }}</p>
      </div>
    </div>
  </div>
</div>

