<div class="row mt-2" [routerLink]="['/platforms']">
  <div class="col">
    <h4>Platforms</h4>
    <div class="list-group">
      <a *ngFor="let platform of platforms; "
         class="list-group-item list-group-item-action"
         [routerLink]="['/platforms']"
      > {{ platform.name}}</a>
    </div>
  </div>
  <div class="col">
    <h4>Games by Platforms</h4>

  </div>
  <div class="col">
    <h4>Game Details</h4>

  </div>
</div>
