<div class="row mt-2">
  <div class="col">
    <h4>Games</h4>
    <div class="list-group">
      <a
        *ngFor="let game of games; let i = index"
        class="list-group-item list-group-item-action"
        [routerLink]="['/games', i]"
      >
        <img src="{{game.imageUrl}}" alt="{{ game.name }}">{{ game.name}}
      </a>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>

</div>

